@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap');
body{
height: 100vh;
margin: 0;
font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;/*oli added*/
}

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #bcfffb;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 8rem;

    a{
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 1.5em;
        color: #6700ee;
        display: block;
        text-align: center;
        opacity: 1;
        transition: opacity 0.3s;
    }
    a:hover{
        color: #332550;
    }
    .closebtn{
        position: absolute;
        top: 0;
        right: 2rem;
        font-size: 2.5em;
        font-family: "Lato", sans-serif;
        /*is not charged*/
        margin-top: 1rem;
    }
}
#main{
    //transition: margin-right .5s ;
    // padding: 16px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
.nav-container{
    background: #ecd9ff;
    
    a{
        color: #5710ff;
        font-weight: bold;
    }
    a:hover{
        color: #332550;
    }
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    transition: 1s;

    .logo{
        color: #332550;
        font-weight: bold;
        font-size: 1.5em;
        text-shadow: #8b8b8b 1px 1px 3px;
    }
    ul{
        //display: flex;
        display: none;
        a{
            display: block;
            padding: 0 1em;
            /*
            padding: 0 0.4em;
            font-size: 0.90em;
            line-height: 2em;
            */
        }
    }
    .openbtn{
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
        background:#ecd9ff;
        color: #5710ff;
        // padding: 10px 15px;
        border: none;
    }
    .openbtn:hover{
        //background-color: #9932ff;
        color: #332550;
    }
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    header{
        padding: 0.5em 2em;
        transition: 1s;
    }
    .social-header{
        padding: 0.5em 2em;
        background: #ecd9ff;
        ul{
            display: none;
        }
    }
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .skills {
    padding-top: 5rem;
  }
.social-header{
    display: none;
}
//Hero design
.hero{
    background: #faf6ff;
    color: #6700ee;
    display: grid;
    text-align: center;
    padding: 4em;
}
.hero-design{
    display: none;
}
.meet{
    display: flex;
    justify-content: space-between;/*oli added*/
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #ff64cb;
    text-shadow: #ffffff 1px 1px 3px;

    img{
        height: 30px;
        width: 20px;
        transform: translateY(10px);
    }
}
.scroll{
    width: 30px;
    margin-top: 2em;
}

section{
    padding: 4em 2em;
    text-align: center;

        .moreBtn{
            margin-bottom: 25px;
            padding: 0.6em 1.3em;
            text-align: center;
            color: #6700ee;
            background: white;
            border: #6700ee 1px solid;
            border-radius: 5px;
            font-family: 'Poppins',sans-serif;
            font-size: 1em;
            cursor: pointer;
        }
        .moreBtn:hover{
            color: #332550;
            border: #332550 1px solid;

        }
}
.featured{
    position: relative;
}
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    /*background: #ffceee;*/
    background: #ffd5f1;
}
.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color:#6700ee;
    letter-spacing: .2em;
    font-size: .85em;
}
.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -0.4em;
    display: block;
}
.featured-desc{
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    font-weight: 500;
}

.skills{
    background: #befffb; 
}
.skills-container ul li{
    width: 300px;
    background: rgb(255, 255, 255);
    padding: 1em 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    box-shadow: 1px 1px 5px rgb(209, 209, 209);

    .icon-container{ /*remove this because it disturbs my images*/
        height: auto;
        display: grid;
        place-content: center;

        img{
            //border: 1px solid rgb(160, 101, 255);
            //box-shadow: 1px 1px 5px rgb(209, 209, 209);
            height: 200px;
            width: 200px;
        }
    }
    .skill-title{
        font-weight: bold;
    }
    .featured-desc{
        margin-bottom: 1em;
    }
}
.skills-container2{
    position: relative;
    //width: 80%;
    //height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

    .skill-card{
        position: relative;
        max-width: 300px;
        height: 215px;
        background: white;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px rgba($color: #000000, $alpha: 0.5);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        
        &:hover{
            height: 420px;

            .skill-content{
                visibility: visible;
                opacity: 1;
                margin-top: -70px;
                transition: 0.3s;
            }
        }
        .imgBox{
            position: relative;
            width: 260px;
            height: 260px;
            top: -60px;
            left: 20px;
            z-index: 1;
            box-shadow: 0 5px 20px rgba($color: #000000, $alpha: 0.2);

            img{
                max-width: 100%;
                border-radius: 4px;
            }
        }
        .skill-content{
            position: relative;
            margin-top: -140px;
            padding: 10px 15px;
            text-align: center;
            color: #111;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }
}
/*.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    //background: #ffceee;
    background: #ffd5f1;
}*/
.portfolio{
    background: #f7f7f7;

    .portfolio-container a img{
        border-radius: 0.5em;
        margin-bottom: 2em;
    }
}
.small-projects{
    background: #ffd5f1;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    .small-projects-container{
        position: relative;
        //background: #ffd5f1;
        display: flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
    
        .card{
            width: 300px;
            margin : 20px;
            border-radius: 18px;
            background: rgb(255, 255, 255);
            //box-shadow: 5px 5px 15px rgb(3, 3, 3);
            box-shadow: 1px 1px 10px rgb(193, 160, 197);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            transition: 0.5s ease;
            cursor: pointer;
            
            .card-image img{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            .card-text{
                padding: 0px 20px 0px 20px;
                margin-bottom: 15px;
                h2{
                    font-size: 1.0em;
                    color: #6700ee;
                    text-align: center;
                }
                p{
                    font-size: 0.9em;
                    text-align: center;
                }
                .date{
                    display: block;
                    color: #ff64cb;
                    font-size: 0.8em;
                    text-align: left;
                }
            }
/*            a{
                margin-bottom: 25px;
                padding: 0.6em 1.3em;
                text-align: center;
                color: #6700ee;
                background: white;
                border: #6700ee 1px solid;
                border-radius: 5px;
                font-family: 'Poppins',sans-serif;
                font-size: 1em;
                cursor: pointer;
            }
            a:hover{
                color: #332550;
                border: #332550 1px solid;
    
            }
        */
            &:hover{
                transform: scale(1.1);
                box-shadow: 1px 1px 10px rgb(193, 160, 197);
            }
            &:hover .card-text h2{
                border-bottom: rgb(236, 208, 255) dashed 2px;
                transition: 0.2s;
            }
        }
    }
    &::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    /*background: #ffceee;*/
    background: #16ffff;
    }
    .more-projects-btn{
        max-width: 300px;
    }
}

.contact{
    position: relative;
    background: #5710ff;
    color: white;

    .contact-container{
        display: flex;
        justify-content: center;
        //align-items: center;
        flex-direction: column;
        .content{
            h2{
                color: #bcfffb;
            }
        }
        form{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            
            .inputBx{
                margin-bottom: 2em;
                width: 100%;
                
                input, textarea{
                    width: 100%;
                    background: transparent;
                    box-shadow: none;
                    border: none;
                    outline: none;
                    padding: 10px 0;
                    font-size: 1.1em;
                    font-weight: 300;
                    color: white;
                    font-family: 'Poppins';
                    border-bottom: 2px solid #bcfffb;

                    &::placeholder{
                        color: gray;
                        font-size: 1.1em;
                        font-weight: 300;
                        font-family: 'Poppins';
                    }
                }
                textarea{
                    min-height: 200px;
                }
                input[type="submit"]{
                    margin: 0 auto;
                    max-width: 150px;
                    border: 2px solid #bcfffb;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 5px;

                    &:hover{
                        //color: #ff64cb;
                        background-color: rgba($color: #ffffff, $alpha: 0.2);
                    }
                }

            }
        }
    }
}
@media only screen and (min-width: 800px){
    .openbtn{
        display: none;
    }
    .sidebar{
        display: none;
    }
    header ul{
        display: flex;
        align-items: center;
    }
    .featured, .portfolio, .small-projects, .contact{
        text-align: left;
    }
    .featured, .portfolio-container{
        display: grid;
        grid-template-columns: 45% auto;
    }
    .left, .portfolio-left{
        display: grid;
        place-content: center;
    }
    .right{
        margin-left: 2em;
        margin-top: 1em;
    }
    .skills{
        //margin-top: -5em;
        margin-top: 0;
        margin-bottom: -7em;
        padding-top: 7em;
    }
    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 1em;
    }
    .portfolio{
        padding-top: 7em;
    }
    .portfolio-container img{
        margin-left: 2em;
    }
    .contact{
        .contact-container{
            form{
                width: 50%;
            }

        }
    }
}

@media only screen and (min-width: 1050px)  {
    .hero{
        height: 90vh;
    }
    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        header{
            background: #ecd9ff;
        }
    }
    header{
        padding : 2em 2em 2em 4em;
    }
    .social-header{
        padding : 2em 4em 2em 0;
    }
    section{
        padding: 4em;
    }
    .social-header{
        display: block;
        ul{
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            img{
                width: 20px;
            }
        }
    }
    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;/*original*/
        background: #ecd9ff;
        padding: 0;

        .content{
            background: #faf6ff;
            padding: 6em 8em 6em 4em;
            text-align: left;
            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
    .hero-design{
        display: unset;
        margin-left: -45%;
        margin-top: 25%;
        width: 90%;
    }
    .meet{
        margin: unset;
    }
    .portfolio img{
        float: right;
        max-width: 500px;
    }
    .contact{
        .contact-container{
            flex-direction: row;
            .content{
                width: 50%;
                padding-right: 20px;
            }
            form{
                width: 50%;
                padding-left: 20px;
                margin-top: 65px;
            }
        }
    }
}

@media only screen and (min-width:1250px){
    header{
        padding : 2em 2em 2em 10em;
    }
    .social-header{
        padding : 2em 10em 2em 0;
    }
    section{
        padding: 10em 10em 4em 10em;
    }
    .hero .content{
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width:1550px){
    header{
        padding : 2em 2em 2em 20em;
    }
    .social-header{
        padding : 2em 20em 2em 0;
    }
    section{
        padding: 6em 20em 4em 20em;
    }
    .hero .content{
        padding: 9em 20em 6em 20em;
    }
}

.circle{
    animation: circleAnim 1s infinite alternate-reverse;
}
@keyframes circleAnim {
    from{
        transform: translate(261px, 728px);
        z-index: 5;
    }
    to{
        transform: translate(261px, 750px);
        
    }
}