@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  /*oli added*/
}

/*
oli added
svg{ 
    width: 100%;
    height: auto;
}
*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #bcfffb;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 8rem;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 1.5em;
  color: #6700ee;
  display: block;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.sidebar a:hover {
  color: #332550;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 2.5em;
  font-family: "Lato", sans-serif;
  /*is not charged*/
  margin-top: 1rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.nav-container {
  background: #ecd9ff;
}

.nav-container a {
  color: #5710ff;
  font-weight: bold;
}

.nav-container a:hover {
  color: #332550;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  -webkit-transition: 1s;
  transition: 1s;
}

header .logo {
  color: #332550;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: #8b8b8b 1px 1px 3px;
}

header ul {
  display: none;
}

header ul a {
  display: block;
  padding: 0 1em;
  /*
            padding: 0 0.4em;
            font-size: 0.90em;
            line-height: 2em;
            */
}

header .openbtn {
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  background: #ecd9ff;
  color: #5710ff;
  border: none;
}

header .openbtn:hover {
  color: #332550;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sticky header {
  padding: 0.5em 2em;
  -webkit-transition: 1s;
  transition: 1s;
}

.sticky .social-header {
  padding: 0.5em 2em;
  background: #ecd9ff;
}

.sticky .social-header ul {
  display: none;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + main {
  padding-top: 0rem;
}

.social-header {
  display: none;
}

.hero {
  background: #faf6ff;
  color: #6700ee;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero-design {
  display: none;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*oli added*/
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #ff64cb;
  text-shadow: #ffffff 1px 1px 3px;
}

.meet img {
  height: 30px;
  width: 20px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

section .moreBtn {
  margin-bottom: 25px;
  padding: 0.6em 1.3em;
  text-align: center;
  color: #6700ee;
  background: white;
  border: #6700ee 1px solid;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
  font-size: 1em;
  cursor: pointer;
}

section .moreBtn:hover {
  color: #332550;
  border: #332550 1px solid;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  /*background: #ffceee;*/
  background: #ffd5f1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6700ee;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: .9em;
  font-weight: 500;
}

.skills {
  background: #befffb;
}

.skills-container ul li {
  background: white;
  padding: 2em 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  /*remove this because it disturbs my images*/
  height: auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.skills-container ul li .icon-container img {
  border: 1px solid #a065ff;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.skills-container2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}

.skills-container2 .skill-card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: white;
  margin: 30px 10px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.skills-container2 .skill-card:hover {
  height: 420px;
}

.skills-container2 .skill-card:hover .skill-content {
  visibility: visible;
  opacity: 1;
  margin-top: -70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skills-container2 .skill-card .imgBox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.skills-container2 .skill-card .imgBox img {
  max-width: 100%;
  border-radius: 4px;
}

.skills-container2 .skill-card .skill-content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    //background: #ffceee;
    background: #ffd5f1;
}*/
.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 0.5em;
  margin-bottom: 2em;
}

.small-projects {
  background: #ffd5f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.small-projects-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small-projects-container .card {
  width: 300px;
  margin: 20px;
  border-radius: 18px;
  background: white;
  -webkit-box-shadow: 1px 1px 10px #c1a0c5;
          box-shadow: 1px 1px 10px #c1a0c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.small-projects-container .card .card-image img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.small-projects-container .card .card-text {
  padding: 0px 20px 0px 20px;
  margin-bottom: 15px;
}

.small-projects-container .card .card-text h2 {
  font-size: 1.0em;
  color: #6700ee;
  text-align: center;
}

.small-projects-container .card .card-text p {
  font-size: 0.9em;
  text-align: center;
}

.small-projects-container .card .card-text .date {
  display: block;
  color: #ff64cb;
  font-size: 0.8em;
  text-align: left;
}

.small-projects-container .card a {
  margin-bottom: 25px;
  padding: 0.6em 1.3em;
  text-align: center;
  color: #6700ee;
  background: white;
  border: #6700ee 1px solid;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
  font-size: 1em;
  cursor: pointer;
}

.small-projects-container .card a:hover {
  color: #332550;
  border: #332550 1px solid;
}

.small-projects-container .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 10px #c1a0c5;
          box-shadow: 1px 1px 10px #c1a0c5;
}

.small-projects::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  /*background: #ffceee;*/
  background: #16ffff;
}

.small-projects .more-projects-btn {
  max-width: 300px;
}

.contact {
  position: relative;
  background: #5710ff;
  height: 80vh;
}

@media only screen and (min-width: 800px) {
  .openbtn {
    display: none;
  }
  .sidebar {
    display: none;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured, .portfolio, .small-projects {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% auto;
        grid-template-columns: 45% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: 0;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #ecd9ff;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    /*original*/
    background: #ecd9ff;
    padding: 0;
  }
  .hero .content {
    background: #faf6ff;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero-design {
    display: unset;
    margin-left: -45%;
    margin-top: 25%;
    width: 90%;
  }
  .meet {
    margin: unset;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(261px, 728px);
            transform: translate(261px, 728px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(261px, 750px);
            transform: translate(261px, 750px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(261px, 728px);
            transform: translate(261px, 728px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(261px, 750px);
            transform: translate(261px, 750px);
  }
}
/*# sourceMappingURL=main.css.map */